<!-- sidebar.component.html -->
<div>
  <!-- Menu Hamburger (visible uniquement sur petit écran) -->
  <div class="fixed top-0 left-0 p-4 z-50 md:hidden">
    <button (click)="toggleMenu()" class="text-gray-700 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>

  <!-- Overlay pour fermer le menu (visible uniquement sur petit écran) -->
  <div
    *ngIf="isMenuOpen"
    (click)="toggleMenu()"
    class="fixed inset-0 bg-black bg-opacity-50 z-40 md:hidden"
  ></div>

  <!-- Sidebar Menu -->
  <div
    [ngClass]="{
      'fixed inset-y-0 left-0 w-64 bg-white shadow-lg text-text z-50 transform transition-transform duration-300': true,
      '-translate-x-full': !isMenuOpen && (isSmallScreen),
      'translate-x-0': isMenuOpen || !isSmallScreen
    }"
  >
    <div class="flex items-center justify-center h-16 bg-primary">
      <!-- <span class="text-white text-xl font-bold">SIGPE</span> -->
      <div> <!-- Date -->
        <span class="text-gray-200 text-xl font-bold">{{ getActiveRouteName() | titlecase }}</span>
      </div>
    </div>

    <div class="p-4">
      <ul>
        <li class="mb-4">
          <a (click)="router.navigate([getRoute('dashboard')]); toggleMenu()"
            [ngClass]="{
              'bg-accent text-white': isRouteActive('dashboard'),
              'text-text hover:bg-accent hover:text-white': !isRouteActive('dashboard')
            }"
            class="flex items-center p-2 rounded-lg">
            <!-- Icône Dashboard -->
            <svg class="w-5 h-5 mr-2 text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="mb-4">
          <a (click)="router.navigate([getRoute('profile')]); toggleMenu()"
            [ngClass]="{
              'bg-accent text-white': isRouteActive('profile'),
              'text-text hover:bg-accent hover:text-white': !isRouteActive('profile')
            }"
            class="flex items-center p-2 rounded-lg">
            <!-- Icône Profil -->
            <svg class="w-5 h-5 mr-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
            <span>Profil</span>
          </a>
        </li>
        <li class="mb-4">
          <a (click)="router.navigate([getRoute('notifications')]); toggleMenu()"
            [ngClass]="{
              'bg-accent text-white': isRouteActive('notifications'),
              'text-text hover:bg-accent hover:text-white': !isRouteActive('notifications')
            }"
            class="flex items-center p-2 rounded-lg">
            <!-- Icône Notifications -->
            <svg class="w-5 h-5 mr-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 01-3 3m0-3a3 3 0 003 3m-3-3H9"></path>
            </svg>
            <span>Notifications</span>
          </a>
        </li>
        <li class="mb-4">
          <a (click)="router.navigate([getRoute('justificatifs')]); toggleMenu()"
            [ngClass]="{
              'bg-accent text-white': isRouteActive('justificatifs'),
              'text-text hover:bg-accent hover:text-white': !isRouteActive('justificatifs')
            }"
            class="flex items-center p-2 rounded-lg">
            <!-- Icône Justificatifs -->
            <svg class="w-5 h-5 mr-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
            </svg>
            <span>Justificatifs</span>
          </a>
        </li>
        <li class="mb-4">
          <a (click)="router.navigate([getRoute('sessions')]); toggleMenu()"
            [ngClass]="{
              'bg-accent text-white': isRouteActive('sessions'),
              'text-text hover:bg-accent hover:text-white': !isRouteActive('sessions')
            }"
            class="flex items-center p-2 rounded-lg">
            <!-- Icône Sessions de cours -->
            <svg class="w-5 h-5 mr-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
            </svg>
            <span>Sessions de cours</span>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="p-4 border-t border-gray-200">
      <ul>
        <li class="mb-4">
          <a (click)="showLogoutAlert()" class="flex items-center text-text hover:bg-accent hover:text-white p-2 rounded-lg">
            <!-- Icône Déconnexion -->
            <svg class="w-5 h-5 mr-2 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
            </svg>
            <span>Déconnexion</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

