<ion-content>
  <div class="bg-gray-100 min-h-screen text-black">
    
    <!-- Sidebar Menu -->
    <app-sidebar></app-sidebar>

    <!-- Contenu principal -->
    <div class="p-6 transition-all duration-300 ease-in-out" [ngClass]="{ 'md:ml-64': !isSmallScreen }">
      <!-- Header -->
      <app-header>
      </app-header>

      <!-- Section Session de Cours -->
      <div class="mt-6">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">Session de Cours</h2>

        <!-- Liste des sessions de cours -->
         <app-session-list
            [userRole]="userRole"
            [filiereId]="filiere_id"
            [niveauId]="niveau_id"
            (sessionSelected)="onSessionSelected($event)"
            (sessionsLoaded)="onSessionsLoaded($event)"
          >
          </app-session-list>

        <!-- <app-session-list
          [sessions]="sessions"
          (sessionSelected)="onSessionSelected($event)"
          (sessionsLoaded)="onSessionsLoaded($event)"
        >
        </app-session-list> -->

        <!-- Section des détails de la session -->
        <app-session-details 
          [selectedSession]="selectedSession"
          role="etudiant"
          [filiere_id]="filiere_id"
          [niveau_id]="niveau_id"
          (viewStudent)="viewStudentProfile($event)">
        </app-session-details>

        <!-- [selectedSession]="selectedSession"
  [students]="studentsList"
  role="etudiant"
  [filiere_id]="filiereId"
  [niveau_id]="niveauId"
  (viewStudent)="viewStudentProfile($event)">
</app-session-details> -->


      </div>

    </div>
  </div>
</ion-content>