<ion-content>
  <div class="bg-gray-100 min-h-screen text-black">
    
    <!-- Sidebar Menu -->
    <app-sidebar></app-sidebar>

    <!-- Contenu principal -->
    <div class="p-6 transition-all duration-300 ease-in-out" [ngClass]="{ 'md:ml-64': !isSmallScreen }">
      <!-- Header -->
      <app-header>
      </app-header>

      <!-- Section Session de Cours -->
      <div class="mt-6">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">Session de Cours</h2>

        <!-- Formulaire de création de session -->
        <div class="bg-white p-4 rounded-lg shadow-md mb-4 fade-in">
          <!-- *ngIf="showCreateSession" -->
          <!-- <h3 class="text-xl font-bold text-gray-700 mb-4">Nouvelle Session</h3> -->

          <form [formGroup]="sessionForm" (ngSubmit)="onSubmit()" class="mt-6 max-w-4xl mx-auto space-y-6">
            <div class="bg-white p-6 rounded-2xl shadow-sm border border-gray-100 transition-all hover:shadow-md">
              <h2 class="text-2xl font-bold mb-6 text-blue-600 flex items-center gap-2">
                <ion-icon name="time-outline"></ion-icon>
                Création de session
              </h2>
          
              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Matière -->
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Matière</label>
                  <ion-select 
                    formControlName="matiere"
                    class="input-field"
                    interface="action-sheet"
                    placeholder="Choisissez une matière">
                    <ion-select-option *ngFor="let matiere of matieres" [value]="matiere.id">
                      {{ matiere.nom }}
                    </ion-select-option>
                  </ion-select>
                </div>
          
                <!-- Salle -->
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Salle</label>
                  <ion-select 
                    formControlName="salle"
                    class="input-field"
                    interface="action-sheet"
                    placeholder="Choisissez une salle">
                    <ion-select-option *ngFor="let salle of salles" [value]="salle.id">
                      {{ salle.nom }}
                    </ion-select-option>
                  </ion-select>
                </div>
          
                <!-- Filière -->
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Filière</label>
                  <ion-select 
                    formControlName="filiere"
                    class="input-field"
                    interface="action-sheet"
                    placeholder="Choisissez une filière">
                    <ion-select-option *ngFor="let filiere of filieres" [value]="filiere.id">
                      {{ filiere.nom }}
                    </ion-select-option>
                  </ion-select>
                </div>
          
                <!-- Niveau -->
                <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Niveau</label>
                  <ion-select 
                    formControlName="niveau"
                    class="input-field"
                    interface="action-sheet"
                    placeholder="Choisissez un niveau">
                    <ion-select-option *ngFor="let niveau of niveaux" [value]="niveau.id">
                      {{ niveau.nom }}
                    </ion-select-option>
                  </ion-select>
                </div>
          
                <!-- Date -->
                <!-- <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Date</label>
                  <ion-datetime
                    formControlName="date"
                    class="input-field"
                    presentation="date"
                    [value]="today"
                    placeholder="Choisissez une date">
                  </ion-datetime>
                </div> -->
          
                <!-- Heure de début -->
                <!-- <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Heure de début</label>
                  <ion-datetime
                    formControlName="heure_debut"
                    class="input-field"
                    presentation="time"
                    placeholder="Choisissez l'heure">
                  </ion-datetime>
                </div> -->

                <!-- Date et Heure de début -->
                <div class="mb-4 relative">
                  <label class="block text-gray-700">Date et heure de début</label>
                  <div class="relative">
                    <input
                      type="datetime-local"
                      formControlName="heure_debut"
                      name="startTime"
                      id="datetimeInput"
                      class="w-full p-2 border rounded-lg pr-10"
                      required
                    />
                    <!-- Icône de calendrier cliquable -->
                    <i
                      class="fas fa-calendar-alt absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer"
                      (click)="openDateTimePicker()"
                    ></i>
                  </div>
                </div>
                
                <!-- <div class="space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Date et Heure de début</label>
                  <ion-datetime
                    formControlName="heure_debut"
                    class="input-field"
                    presentation="date-time"
                    [value]="today"
                    placeholder="Choisissez la date et l'heure">
                  </ion-datetime>
                </div> -->

          
                <!-- Durée -->
                <div class="md:col-span-2 space-y-1">
                  <label class="block text-sm font-medium text-gray-700">Durée (minutes)</label>
                  <ion-input
                    type="number"
                    formControlName="duree"
                    class="input-field"
                    placeholder="Durée en minutes (ex: 90)">
                  </ion-input>
                </div>
              </div>
            </div>
          
            <!-- Action Button -->
            <div class="flex justify-end mt-8">
              <button 
                type="submit" 
                class="primary-btn flex items-center justify-center gap-2 px-6 py-3"
                [disabled]="sessionForm.invalid">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Créer la session
              </button>
            </div>
          </form>
          

          
        </div>

        <!-- <app-session-list
          [sessions]="sessions"
          (sessionSelected)="onSessionSelected($event)"
          (sessionsLoaded)="onSessionsLoaded($event)">
        </app-session-list> -->
        <app-session-list
          [userRole]="userRole"
          [enseignantId]="enseignantId"
          (sessionSelected)="onSessionSelected($event)"
          (sessionsLoaded)="onSessionsLoaded($event)"
        >
        </app-session-list>

        <!-- Détails de la session sélectionnée -->
        <app-session-details
          [selectedSession]="selectedSession"
          [matieres_specifiques]="matieres"
          role="enseignant"
          [teacher_id]="enseignantId"
          (terminateSession)="showAttendance = true"
          (sessionUpdated)="onSessionUpdated()"
          (cancelSession)="onSessionDeleted()"
          (markStatut)="onMarkStatut($event)">
        </app-session-details>


        <ng-template #noSession>
          <div class="bg-white p-4 rounded-lg shadow-md mt-4 fade-in">
            <h3 class="text-xl font-bold text-gray-700 mb-4">Selectionnez une session de cours...</h3>
          </div>
        </ng-template>

        <!-- Prise de présence manuelle -->
        <!-- <div
          *ngIf="selectedSession?.statut === 'En cours'"
          class="bg-white p-6 rounded-lg shadow-lg mt-6 fade-in"
        >
          <h3 class="text-2xl font-semibold text-gray-800 mb-6 border-b pb-2">Prendre la présence manuellement</h3>
          <form (ngSubmit)="addStudentToAttendance()" class="space-y-4">
            <div>
              <label class="block text-gray-700 font-medium mb-2">Nom de l'étudiant</label>
              <input
                type="text"
                [(ngModel)]="newStudent.name"
                name="name"
                placeholder="Entrez le nom de l'étudiant"
                class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
              />
            </div>
            <div>
              <label class="block text-gray-700 font-medium mb-2">Matricule de l'étudiant</label>
              <input
                [(ngModel)]="newStudent.matricule"
                name="matricule"
                placeholder="Entrez le matricule de l'étudiant"
                class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
              />
            </div>
            <div class="flex justify-end space-x-4">
              <button
                [ngClass]="{'disabled-button': !isSessionOn}"
                type="submit"
                class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
              >
                Ajouter à la présence
              </button>
            </div>
          </form>
          
        </div> -->

        <!-- Statistiques de la session -->
        <div>
          <div
            class="bg-white p-4 rounded-lg shadow-md mt-4 fade-in"
            [ngClass]="{'hidden': !showStats}"
          >
            <h3 class="text-xl font-bold text-gray-700 mb-4">Statistiques de la session</h3>
            <canvas id="sessionStatsChart"></canvas>
            <ion-button
              color="medium"
              (click)="showStats = false"
              style="text-transform: none;"
              class="text-white p-2 rounded-lg mt-4"
            >
              Fermer
            </ion-button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>